.logo {
    padding: 10px 130px;
}

h3 {
    padding: 10px 30px 20px 100px; 
    color: #00d9df;
}

form {
    padding:1px 10px 1px 80px;
}

.preview {
    padding-top: 10px;
}

.input2 {
    padding-top: 5px;
}